* {
    /* background: rgba(0, 0, 0, .1); */
    box-sizing: border-box;
    transition: background .2s;
    outline: 0;
}
body {
    background: rgb(76, 90, 109);
    color:#fff;
}
.container {
    max-width: 700px;
    margin: 3% auto;
    position: relative;
    padding: 0 10px;
}
h1 {
    text-align: center;
}
.task-list {
    margin: 5px 0;
}
input,
.task-item,
button,
.task-detail-mask
{
    padding: 10px;
    border-radius: 3px;
}

input {
    background: #fff;
}
input[type=text],[type=date]{
    border: 0;
    display: block;
    width: 100%;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
button {
    border: 0;
    cursor: pointer;
}
input[type=text]:hover,
input[type=date]:focus,
input[type=date]:hover,
input[type=focus]:focus
{
    background: #Fff;
}

.task-add input[type=text]{
    float: left;
    width: 84%;
    margin-right: 1%;
}

.primary {
    background: rgb(91, 146, 219);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    color: #fff;
}


.task-add button[type=submit]{
    display: inline-block;
    width: 15%;
}

.cancel{
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    background: rgb(221, 58, 58);
    color: #333;
}
.remind button[type=reset] {
    float: right;
}

.cancel:hover {
    background: rgb(93, 107, 124);
    color: #fff;
}

.primary:hover{
    background: rgb(189, 204, 223);
    color: #333;
}


.task-item {
    background: #FFF;
    color: #333;
    margin-bottom: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.task-item:hover {
    background: #eee;
}

.task-detail .input-item {
    margin-top: 12px;
}

.task-detail button {
    width: 80px;
    margin-top: 19px;
}

.task-detail-mask {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .2);
}
.task-detail {
    position: absolute;
    top:30%;
    right: 28%;
    background: #fff;
    padding: 10px;
    width:50%;
    height: 320px;
    color:#333;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .5);
}
.task-detail .content {
    margin-top: 12px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
textarea {
    padding:9px;
    width:100%;
    min-height: 100px;
    border: none;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

textarea:hover {
        background: #fffffe;
}
.task-detail,
.task-detail-mask {
    display: none;
}
.action {
    color: #888;
    font-size: 90%;
    padding-left: 10px;
}
.action:hover {
    color:rgb(1, 9, 12);
}
.delete {
    color:rgb(221, 58, 58);
}
.detail {
    color: rgb(26, 104, 206);
}

.floatright {
    float: right;
}
.task-content {
    margin-left: 10px;
}
.task-item.completed {
    /* background: rgba(255, 255, 255, 0.4); */
    color: #000;
    opacity: 0.4;
}

.task-item.completed:after{
content: " ";
height: 1px;
background: #aaa;
width:96%;
position: relative;
top: -8px;
display: block;
float: right;
}
.msg{
    display: none;
    text-align: center;
    background: #dd3434;
    padding: 10px;
}
.confirmed {
    cursor: pointer;
}

.alterer {
    width: 0;
    height: 0;
}

.remind_label {
    display: block;
    margin-bottom: 10px;
}

